{
  "openapi": "3.1.1",
  "info": {
    "title": "Chatrapido",
    "description": "Chatrapido API. Todas as chamadas exigem autenticação dupla: o `{token}` na URL da rota e o header `Authorization: Bearer <token>`. A API valida se ambos os valores correspondem a uma integração válida.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://chatrapido.com/openapi/{token}",
      "variables": {
        "token": {
          "default": "seu-token-gerado",
          "description": "Token gerado no sistema. Deve ser enviado na URL e corresponder ao valor do header Bearer."
        }
      }
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chamadas",
      "description": "Operações relacionadas a chamadas e envios"
    }
  ],
  "paths": {
    "/send-template": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Chamadas"
        ],
        "summary": "Send Template",
        "description": "Envio de templates de mensagens via API REST.\n\n**Autenticação**\n\n1. Lê `{token}` da rota (variável de URL do servidor).\n2. Lê `Authorization: Bearer <token>` do header.\n3. Se qualquer um estiver ausente, retorna `401` com `\"Missing authentication credentials.\"`.\n4. Valida se o `{token}` da rota e o token do header correspondem a uma integração válida.\n5. Se as credenciais forem inválidas, retorna `401` com `\"Invalid authentication credentials.\"`.\n\n**Variáveis do template**\n\nO campo `variables` é opcional. Use-o apenas quando o template possuir placeholders (ex: `{{1}}`, `{{2}}`) que precisam ser preenchidos no envio.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Número do destinatário no formato DDI + DDD + Número (ex: 55999999999)",
                    "example": "55999999999"
                  },
                  "template_name": {
                    "type": "string",
                    "description": "Nome do template cadastrado no sistema",
                    "example": "boas_vindas"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Opcional. Valores para os placeholders do template. As chaves devem corresponder aos placeholders do template (ex: `{{1}}`, `{{2}}`). Não é necessário enviar quando o template não possui variáveis.",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "{{1}}": "Maria",
                      "{{2}}": "98765"
                    }
                  }
                },
                "required": [
                  "phone",
                  "template_name"
                ]
              },
              "examples": {
                "withoutVariables": {
                  "summary": "Sem variáveis",
                  "description": "Payload mínimo quando o template não possui placeholders.",
                  "value": {
                    "phone": "5511999999999",
                    "template_name": "boas_vindas"
                  }
                },
                "withVariables": {
                  "summary": "Com variáveis",
                  "description": "Payload com placeholders preenchidos. O campo `variables` é opcional.",
                  "value": {
                    "phone": "5511999999999",
                    "template_name": "order_ready",
                    "variables": {
                      "{{1}}": "Maria",
                      "{{2}}": "98765"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template enviado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Envio bem-sucedido",
                    "value": {
                      "message": "Template sent successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha na autenticação. Retornado quando as credenciais estão ausentes ou são inválidas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingCredentials": {
                    "summary": "Credenciais ausentes",
                    "description": "Retornado quando `{token}` na rota ou o header `Authorization: Bearer` está ausente.",
                    "value": {
                      "error": "Missing authentication credentials."
                    }
                  },
                  "invalidCredentials": {
                    "summary": "Credenciais inválidas",
                    "description": "Retornado quando o `{token}` da rota e o token do header não correspondem a uma integração válida.",
                    "value": {
                      "error": "Invalid authentication credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado. Retornado quando há problema de conexão no Chatrapido ou quando o template não existe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "connectionNotFound": {
                    "summary": "Conexão não encontrada",
                    "value": {
                      "message": "Connection not found"
                    }
                  },
                  "templateNotFound": {
                    "summary": "Template não encontrado",
                    "value": {
                      "message": "Template not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação ou falha no envio. Retornado quando campos obrigatórios estão ausentes, quando as variáveis do template são inválidas ou quando o envio do template falha na META.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidVariablesErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MessageResponse"
                    }
                  ]
                },
                "examples": {
                  "requiredFields": {
                    "summary": "Campos obrigatórios ausentes",
                    "description": "Retornado quando `phone` e/ou `template_name` não são enviados.",
                    "value": {
                      "message": "The phone field is required. (and 1 more error)",
                      "errors": {
                        "phone": [
                          "The phone field is required."
                        ],
                        "template_name": [
                          "The template name field is required."
                        ]
                      }
                    }
                  },
                  "invalidVariables": {
                    "summary": "Variáveis inválidas",
                    "description": "Retornado quando o objeto `variables` contém placeholders inválidos ou valores incompatíveis com o template.",
                    "value": {
                      "message": "Invalid variables.",
                      "erros": "[Error describe...]"
                    }
                  },
                  "metaSendFailed": {
                    "summary": "Falha no envio (META)",
                    "description": "Retornado quando o envio do template falha. O campo `message` contém o erro retornado pela META.",
                    "value": {
                      "message": "(#131008) Required parameter is missing"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/whatsapp-link": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Chamadas"
        ],
        "summary": "WhatsApp Link",
        "description": "Gera um link de conversa do WhatsApp (click-to-chat) e um QR Code a partir de uma mensagem.\n\nO número de destino é obtido automaticamente da instância conectada no Chatrapido — não é necessário enviar `phone` no payload.\n\nO link segue o formato oficial do WhatsApp: `https://wa.me/{phone}?text={message}`.\n\n**Autenticação**\n\n1. Lê `{token}` da rota (variável de URL do servidor).\n2. Lê `Authorization: Bearer <token>` do header.\n3. Se qualquer um estiver ausente, retorna `401` com `\"Missing authentication credentials.\"`.\n4. Valida se o `{token}` da rota e o token do header correspondem a uma integração válida.\n5. Se as credenciais forem inválidas, retorna `401` com `\"Invalid authentication credentials.\"`.\n6. Se o endpoint `whatsapp_link` não estiver ativo nas configurações de API, retorna `403` com `\"Endpoint is not active.\"`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Mensagem pré-preenchida enviada automaticamente quando o destinatário abrir o link no WhatsApp.",
                    "maxLength": 500,
                    "example": "Olá! Gostaria de mais informações."
                  }
                },
                "required": [
                  "message"
                ]
              },
              "examples": {
                "default": {
                  "summary": "Mensagem personalizada",
                  "description": "Payload com a mensagem que será exibida ao abrir o link.",
                  "value": {
                    "message": "Olá! Gostaria de mais informações."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link e QR Code gerados com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsappLinkResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Geração bem-sucedida",
                    "value": {
                      "link": "https://wa.me/5511999999999?text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es.",
                      "qr_code_url": "https://chatrapido.com/storage/qrcodes/1/whatsapp-link.svg"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha na autenticação. Retornado quando as credenciais estão ausentes ou são inválidas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingCredentials": {
                    "summary": "Credenciais ausentes",
                    "description": "Retornado quando `{token}` na rota ou o header `Authorization: Bearer` está ausente.",
                    "value": {
                      "error": "Missing authentication credentials."
                    }
                  },
                  "invalidCredentials": {
                    "summary": "Credenciais inválidas",
                    "description": "Retornado quando o `{token}` da rota e o token do header não correspondem a uma integração válida.",
                    "value": {
                      "error": "Invalid authentication credentials."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Endpoint desativado. Retornado quando o endpoint `whatsapp_link` não está ativo nas configurações de API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "endpointInactive": {
                    "summary": "Endpoint inativo",
                    "value": {
                      "message": "Endpoint is not active."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Recurso não encontrado. Retornado quando a instância não possui conexão WhatsApp ou o número não está configurado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "connectionNotFound": {
                    "summary": "Conexão não encontrada",
                    "value": {
                      "message": "Connection not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Erro de validação. Retornado quando o campo `message` está ausente, excede 500 caracteres ou quando o número da instância é inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MessageResponse"
                    }
                  ]
                },
                "examples": {
                  "requiredMessage": {
                    "summary": "Campo message ausente",
                    "description": "Retornado quando `message` não é enviado.",
                    "value": {
                      "message": "The message field is required.",
                      "errors": {
                        "message": [
                          "The message field is required."
                        ]
                      }
                    }
                  },
                  "invalidPhone": {
                    "summary": "Número inválido",
                    "description": "Retornado quando o número da instância conectada é inválido após normalização.",
                    "value": {
                      "message": "Invalid phone number."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Mensagem de erro"
          }
        },
        "required": [
          "error"
        ]
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensagem de erro"
          }
        },
        "required": [
          "message"
        ]
      },
      "InvalidVariablesErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensagem de erro",
            "example": "Invalid variables."
          },
          "erros": {
            "type": "string",
            "description": "Descrição do erro relacionado às variáveis"
          }
        },
        "required": [
          "message",
          "erros"
        ]
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Resumo do erro de validação"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Erros por campo"
          }
        },
        "required": [
          "message",
          "errors"
        ]
      },
      "WhatsappLinkResponse": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "format": "uri",
            "description": "Link de conversa do WhatsApp no formato wa.me, com a mensagem codificada na query string.",
            "example": "https://wa.me/5511999999999?text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es."
          },
          "qr_code_url": {
            "type": "string",
            "format": "uri",
            "description": "URL pública do QR Code SVG gerado a partir do link.",
            "example": "https://chatrapido.com/storage/qrcodes/1/whatsapp-link.svg"
          }
        },
        "required": [
          "link",
          "qr_code_url"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token Bearer gerado no sistema. Deve ser enviado no header `Authorization: Bearer <token>` e corresponder ao `{token}` da URL."
      }
    }
  }
}
