openapi: 3.1.0
info:
  title: Gerar Link de Template
  description: API simples para geração de links de templates
  version: 1.0.0

servers:
  - url: https://api.seudominio.com
    description: Produção
  - url: http://localhost:3000
    description: Local

paths:
  /api/generate-link:
    post:
      summary: Gerar Link
      description: Cria um link compartilhável para um template
      operationId: generateTemplateLink
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                templateName:
                  type: string
                  description: Nome do template
                  example: "Contrato de Serviço - Junho 2026"
                expiresIn:
                  type: integer
                  description: Dias de validade do link (opcional)
                  example: 7
              required:
                - templateName
      responses:
        '200':
          description: Link gerado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  link:
                    type: string
                    format: uri
                    example: "https://app.seudominio.com/template/abc123xyz"
                  expiresAt:
                    type: string
                    format: date-time
                    example: "2026-06-12T12:00:00Z"
        '400':
          description: Erro de validação
        '401':
          description: Não autorizado